
<div class="footer" id="footer">
    <footer>
        <div class="row">
            <div class = "col-md-4">
                <p>Who We Are</p>
                <ul>
                    <li><a href = "#landing-page">Home</a></li>
                    <li><a href = "#detail">About</a></li>
                    <li><a href= "#body">Quotes Section</a></li>
                    <li><a href = "#footer">Contact Us</a></li>
                </ul>
                

            </div>
            <div class="col-md-4">
                <p>Our Socials</p>
                <ul>
                    <li>
                        <a href="http://facebook.com" target="blank">
                            <i class="fab fa-facebook-square"></i>Facebook
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com" target="blank">
                            <i class="fab fa-twitter-square"></i>Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="blank">
                            <i class="fab fa-instagram-square"></i>Instagram
                        </a>
                    </li>
                    <li>
                        <a href="https://www.dribble.com/" target="blank">
                            <i class="fab fa-dribble-square"></i>Dribble
                        </a>
                    </li>
                </ul>

            </div>
            <div class="form-group mailing-list">
                <h5>Join Our Mailing List</h5>
                <label for ="email-address">Email address</label>
                <input type="email" id="email-address" class="form-control">
                <button class="btn btn-danger">Submit</button>
            </div>

        </div>

    </footer>
</div>
