<div>
    <div id="landing-page">
        <header class="header">
            <div>
                <ul>
                    <li><a href="#landing-page">Home</a></li>
                    <li><a href="#detail">About</a></li>
                    <li><a href = "#body">Quotes Section</a></li>
                    <li><a href= "#footer">Contact Us</a></li>
                </ul>
            </div>
    
        </header>
        <!-- <div class = "get-started">
            <a href = "#body">
                <button>Get Started</button>
            </a>
        </div> -->
    </div>
</div>

