<div class = "container-fluid">
    <h2>Add a quote;</h2>
    <form>
        <div class="form-group">
            <label for ="quote">Quote</label>
            <input type="text" id="quote" class="form-control" required>
        </div>
        <div class="form-group">
            <label for ="author">Authored By:</label>
            <input type="text" id="author" class="form-control" required>
        </div>
        <div class="form-group">
            <label for ="entry-by">Entered By:</label>
            <input type="text" id="entry-by" class="form-control" required>
        </div>
        <div class="form-group">
            <label for ="date-created">Date Created:</label>
            <input type="date" id="date-created" class="form-control" required>
        </div>

    </form>
    <button class = "btn" type="submit" id="submit-button">Submit</button>

</div>

